@import "keep-react/css";
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Kode+Mono:wght@400..700&display=swap');


body {
  /* background-image: url('/images/dev-background.jpg'); */
  background-attachment: fixed;
  background-size: cover;
  background-color: #313C43;
  /* font-family: 'Nunito', sans-serif; */
  overflow: x-hidden;
  scroll-behavior: smooth;
  /* cursor: none; */
}

.anta-regular {
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.kode-mono-400 {
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.kode-mono-700 {
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}


/* Define the text-shadow effect */
.text-shadow {
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
}

.svg-shadow {
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
}

/* Apply the text-shadow effect on hover */
.svg-shadow:hover {
  filter: drop-shadow(2px 2px 4px rgba(234, 144, 16, 1));
}

.block-shadow {
  filter: drop-shadow(2px 2px 4px rgba(234, 144, 16, 1));
}

/* SCROLLBAR CSS */
::-webkit-scrollbar {
  width: 12px;
  border-radius: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #FB923C; 
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #F97316; 
}


/* SLIDER CSS */
.slick-slide > div {
  margin: 10px 10px;
}

.slick-slide > div > div {
  width: 400px;
  height: 495px;
  filter: drop-shadow(2px 2px 4px rgba(234, 144, 16, 1));
}

.slick-slide > div > Image {
  align-self: center;
}

/* Twirl Animation for hamburger */
@keyframes twirl {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes anti-twirl {
  0% {
    transform: rotate(360deg);
  }
  25% {
    transform: rotate(270deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.twirl {
  animation: twirl 0.5s ease forwards;
}

.anti-twirl {
  animation: anti-twirl 0.5s ease forwards;
}

@keyframes slideDown {
  from {
    max-height: 0;
  }
  to {
    max-height: 250px; /* Adjust the max height as needed */
  }
}

@keyframes slideUp {
  from {
    max-height: 250px; /* Adjust the max height as needed */
  }
  to {
    max-height: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.dropdown {
  overflow: hidden;
}

.dropdown.open {
  animation: slideDown 0.5s ease forwards;
}

.dropdown.closed {
  animation: slideUp 0.5s ease forwards;
}

.dropdown.open .button-wrapper {
  animation: fadeIn 0.5s ease forwards;
}

.dropdown.closed .button-wrapper {
  animation: fadeOut 0.5s ease forwards;
}

.section {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.section.active {
  opacity: 1;
}